.doctors {
    display: flex;
    flex-direction: column;
    flex: 0.84;
    background-color: #ffffff;
    height: 100vh;
  }
  
.dochead {
    padding: 20px;
    color: gray;
  }

  .home {
    display: flex;
    flex-wrap: wrap;
    
}