.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 7px;
  border-bottom: 1px solid white;
  box-shadow: 10px 1px 4px lightgray;
}

.header__right {
  display: flex;
  align-items: center;
  flex: 0.26;

  justify-content: space-between;
}
